doctype
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no, minimal-ui")
        link(rel="stylesheet", type="text/css", href="./css/style.css")
    body
        div#main
            h1 Welcome to host more server!
            p You are on a landing page of a host more server...